.container {
  position: relative;
  text-align: center;
  color: #1d0707;
}
.center{

  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip {
  position: absolute;
  padding: 10px;
  background: rgba(0,0,0,0.8);
  transform: translate3d(-50%, -50%, 0);
  border-radius: 5px;
  pointer-events: none;
  z-index: 1000;
}
.area{
  background-color: red;
}
.blue {
  position: absolute;
  padding: 10px;
  top: 100px;
  left: 80px;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 5px;
  pointer-events: none;
  z-index: 1000;
  color: red;
}
.span1{
  position: absolute;
  padding: 10px;
  top: 100px;
  left: 90px;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 5px;
  pointer-events: none;
  z-index: 1000;
  color: white;
}
.span2{
  position: absolute;
  padding: 10px;
  top: 220px;
  left: 90px;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 5px;
  pointer-events: none;
  z-index: 1000;
  color: white;
}

.span3{
  position: absolute;
  padding: 10px;
  top: 350px;
  left: 80px;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 5px;
  pointer-events: none;
  z-index: 1000;
  color: #ffffff;
}
.span4{
  position: absolute;
  padding: 10px;
  top: 120px;
  left: 180px;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 5px;
  pointer-events: none;
  z-index: 1000;
  color: white;
}
.span5{
  position: absolute;
  padding: 10px;
  top: 120px;
  left: 320px;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 5px;
  pointer-events: none;
  z-index: 1000;
  color: #050505;
}
.span6{
  position: absolute;
  padding: 10px;
  bottom: 120px;
  left: 210px;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 5px;
  pointer-events: none;
  z-index: 1000;
  color: white;
}
.span7{
  position: absolute;
  padding: 10px;
  bottom: 110px;
  left: 380px;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 5px;
  pointer-events: none;
  z-index: 1000;
  color: white;
}
