.container {
  position: relative;
  text-align: center;
  color: #1d0707;
  padding-left: 0!important;

}
.btn.btn-light:hover{
  background: #17a2b8;
}
.btn.btn-light:focus{
  background: #17a2b8!important;
}
.btn.btn-light{
  border: 1px solid #4A585C;
  border-radius: 2px;
  color: #548E6C;
}



.center{

  display: flex;
  align-items: center;
  justify-content: center;
}

.span1{
  position: absolute;
  padding: 5px;
  top: 60px;
  left: 40px;
  font-size: 14px;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 5px;
  pointer-events: none;
  z-index: 1000;
  color: #fff;
}
.span2{
  position: absolute;
  padding: 5px;
  font-size: 12px;
  top: 130px;
  left: 40px;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 5px;
  pointer-events: none;
  z-index: 1000;
  color: #fff;
}

.span3{
  position: absolute;
  padding: 5px;
  font-size: 14px;
  top: 220px;
  left: 40px;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 5px;
  pointer-events: none;
  z-index: 1000;
  color: #fff;
}
.span4{
  position: absolute;
  padding: 5px;
  font-size: 14px;
  top: 70px;
  left: 110px;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 5px;
  pointer-events: none;
  z-index: 1000;
  color: #fff;
}
.img-style{
  width: 100px!important;
  background-color: red;
}
.span5{
  position: absolute;
  padding: 5px;
  font-size: 14px;
  top: 70px;
  left: 210px;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 5px;
  pointer-events: none;
  z-index: 1000;
  color: #fff;
}
.span6{
  position: absolute;
  padding: 5px;
  font-size: 14px;
  bottom: 40px;
  left: 140px;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 5px;
  pointer-events: none;
  z-index: 1000;
  color: #fff;
}
.span7{
  position: absolute;
  padding: 5px;
  font-size: 14px;
  bottom: 40px;
  left: 265px;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 5px;
  pointer-events: none;
  z-index: 1000;
  color: #fff;
}
